<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Some of my most notable skills include:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-align-justify fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Full Stack</h4>
                    <p class="text-muted">It's important to me to be a well rounded developer. Some of the tools in my toolbox are: Ruby on Rails, Node.js, Express, AngularJS, React, MongoDB, HTML, CSS, Git, GitHub, Heroku, and Bootstrap.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Experience</h4>
                    <p class="text-muted">I am constantly seeking new ways to improve the way a user interacts with my designs. It's easy for me to put myself in the users' position and build applications from their perspective.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Working With Humans</h4>
                    <p class="text-muted">Collaborating on projects is one of my favorite things to do. I am easy to get along with and can make the best out of any situation. I have a lot of energy and enthusiasm which is often contagious!</p>
                </div>
            </div>
        </div>
    </section>