
body {
  margin: 0;
}

html {
  color: gray;
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: white;
  font-size: 25px;
  background-color: #eb4e48;
  padding: 20px 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 7px 7px;
}

#nav{
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 34px 15px 23px 15px;
}

#nav:hover{
  background-color: #dedede;
  color: red;
}

#nextButton {
  position: relative;
  float:right;
  margin-top: 5px;
  margin-right: 120px;
  padding: 0;
  padding-bottom: 0px ;
}

#backButton {
  position: relative;
  float:right;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0;
  padding-bottom: 0px ;
}

#title {
  padding-right: 35%;
  position: absolute;
  display: block;
  margin-left: 35%;
}

#title2{
  text-align: center;
  color: gray;
  font-size: 48px;
  margin-left: 8%;
  margin-right: auto;
  position: absolute;
}

#bannername{
  width: 20%;
  height: 20%;
  top:15%;
  left: 10%;
}

#title3{
  text-align: center;
  color: gray;
  font-size: 40px;
  margin-left: 8%;
  margin-right: auto;
  position: absolute;
  font-size: 14px;
  padding-top: 85px;
  padding-left: 3px;

}

h1{
  line-height: 1.1em;
}

h2 {
  font-size: 16px;
  padding: 0 0 15px 0;
}

h3 {
  font-size: 14px;
  padding: 40;
}


main {
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

main div {
  text-align: left;
  padding-left: 20%;
  padding-right: 40%;
  clear: both;
}

#line1 {
  width: 100%;
  left: 15.5%;
  top: 27%;
  position: absolute;
}

#line2 {
  width: 100%;
  left: 15.5%;
  top: 30%;
  position: absolute;
}

#banner {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

}

#main2 {
  width: 85%;
  margin-right: auto;
  margin-left: auto;

}

#text {
    padding-top: 40px;
    padding-bottom: 50px;
    line-height: 1.5em;
}

#share {
  padding-right: 20px;
}

#postPic {
  padding: 0px;
  max-width: 100%;
  bottom: 0px;
}

#links {
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 100px;
}

#social {
  padding: 14px;
  padding-bottom: 0px ;
}

/*#read {
  font-size: 12px;
}*/

#cbutton {
  height: 30px;
  width: 170px;
  background-color: #ededed;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 100px;
  text-decoration: none;
  color: gray;
  border-radius: 7px;
  border: 1px solid gray;
  margin-top: 35px;
}

#cbutton:hover{
  background-color: #dedede;
  color: red;
 }

#rbutton {
  height: 30px;
  width: 170px;
  background-color: #ededed;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: gray;
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 39%;
  margin-bottom: 0.5%;
  display: inline-block;
  position: relative;
  bottom: 97px;
}

#rbutton:hover{
  background-color: #dedede;
  color: red;
}

#backbutton {
  height: 30px;
  width: 170px;
  background-color: #ededed;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: gray;
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 50%;
  margin-right: 45%;
  margin-top: 50px;
}

#backbutton:hover{
  background-color: #dedede;
  color: red;
;
}

#const{
  max-width: 400px;
  margin-left: 34.5%;
  padding: 50px;
}

textarea {
  background-color: #fdfdfd;
  height: 175px;
  width: 100%;
}

footer {
  text-align: center;
  font-size: 10px;
  color: #b7b5bd;
  background-color: #eb4e48;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 175px;
  border-radius: 7px 7px 0 0;
  position: absolute;
  left: 7.5%;

}

#copy {
  margin: 0;
  padding: 10px;
  color: white;
}